.wrapper {
  border: 1px solid $c-grey;
  border-radius: 8px;
  margin-bottom: 10px;
  display: block;

  &.correct {
    background-color: $c-green-light;
  }

  &.this {
    border: 2px solid $c-aqua;
  }

  &.other {
    opacity: 0.6;
  }
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;

  &.dragging {
    opacity: 0.5;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 15px;
  }

  .right {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
  }

  .arrows {
    display: flex;
    flex-direction: column;
  }

  .score {
    border-radius: 16px;
    background-color: grey;
    padding: 2px 8px 2px 5px;
    color: white;
  }
}

.collapsable {
  transition: height $trans ease-in-out;
  overflow: hidden;
}
